{% extends 'backReclam.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Styles pour le thème noir et violet */
        body {
            background-color: #4a235a; /* Violet foncé pour l'arrière-plan */
            color: #ffffff; /* Blanc pour la couleur du texte */
            font-family: Arial, sans-serif; /* Changer la police si nécessaire */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Assure que le contenu est centré verticalement */
            margin: 0; /* Supprime les marges par défaut du body */
        }

        h1 {
            color: #8a2be2; /* Violet plus clair pour la couleur du titre */
        }

        /* Styles pour centrer le contenu */
        .content-container {
            text-align: center; /* Centrage horizontal */
            margin: auto; /* Centrage vertical si le contenu est moins que la hauteur de l'écran */
            width: 70%; /* Largeur du contenu */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ffffff; /* Bordures pour les cellules */
            padding: 8px; /* Espacement interne */
            text-align: center; /* Centrage horizontal pour le contenu de la table */
        }

        /* Styles pour les liens */
        a {
            color: #bb86fc; /* Violet clair pour la couleur du lien */
            text-decoration: none; /* Supprimer le soulignement des liens */
        }

        /* Modifier les styles pour les liens au survol si nécessaire */
        a:hover {
            color: #ffffff; /* Blanc au survol du lien */
            text-decoration: underline; /* Souligner le lien au survol */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content-container">
        <h1>Reclamation</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reclamation.id }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ reclamation.type }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ reclamation.contenu }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_reclamation_index') }}">Retourner à la liste</a>

        <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Modifier</a>

        {{ include('reclamation/_delete_form.html.twig') }}
    </div>
{% endblock %}
